*.class
*.log

# SLIX musl port build artifacts
slix/build-musl/
slix/sysroot/

*.tof
*.trb
!trisc-cli/shared/src/main/resources/ramdisk/bin/*.trb
*.asm
!**/boot.asm
.smeta

# sbt specific
node_modules/
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*~
.directory
.idea/
.bsp/
